:root {
    --brackground-primary-color: #ffffff;
    --brackground-secondary-color: #F5F5F5;
    --brackground-tertiary-color: #000000;

    --butoon-primary-color: #8F0101;
    --butoon-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}